In [ ]:
# this is comment

base_salary = 100000
bonus_rate = .10

In [ ]:
total_salary = (base_salary) * (1+ bonus_rate)

In [ ]:
total_salary

110000.00000000001

In [ ]:
company_name = 'DataWiz Inc.'

In [ ]:
company_name

'DataWiz Inc.'

In [ ]:
job_wfh = "True"

In [ ]:
job_id = 101
job_title = "Data Analyst"
job_salary = 125000

In [ ]:
"Data " + "Analyst" + " super"

'Data Analyst super'

In [ ]:
2+2

4

In [ ]:
"Data Analyst" * 5

'Data AnalystData AnalystData AnalystData AnalystData Analyst'

In [ ]:
3-2

1

In [ ]:
5 / 2

2.5

In [ ]:
5 // 2

2

5 % 2

In [ ]:
60_000 == 80_0000

False

In [ ]:
if "Match" == "Match":
  print ("Go")

Go

In [ ]:
if "Match" == "Metch":
  print ("Go")

In [ ]:
skill = "SQL"
applicant_skill = "Python"
years_exp = 4


if skill == applicant_skill:
  print ("Skill match")
elif years_exp >= 5:
  print ("goal")
else:
  print ("no match")

no match

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
#lista
job_skills = ['sql', 'powerbi', 'excel']

In [ ]:
#dodawanie do listy
job_skills.append('python')

In [ ]:
job_skills

['sql', 'powerbi', 'excel', 'python']

In [ ]:
#usuwanie z listy
job_skills.remove('powerbi')

In [ ]:
job_skills

['sql', 'excel', 'python']

In [ ]:
len('Python')

6

In [ ]:
len(job_skills)

3

In [ ]:
job_skills.insert(2, "Powerbi")

In [ ]:
job_skills

['sql', 'excel', 'Powerbi', 'python']

In [ ]:
#usuwanie z listy na podstawie miejsca - indexu
job_skills.pop(3)

'python'

In [ ]:
job_skills

['sql', 'excel', 'Powerbi']

In [ ]:
#tworzenie biblioteki
job_type_skills = {"database": 'postgresql',
 'language': 'python'}

In [ ]:
job_type_skills.keys()

dict_keys(['database', 'language'])

In [ ]:
job_type_skills.values()

dict_values(['postgresql', 'python'])

In [ ]:
#tworzenie set - sety nie mają indexów
job_skills = {'powerbi', 'sql', 'python', 'statistics'}

In [ ]:
job_skills

{'powerbi', 'python', 'sql', 'statistics'}

In [ ]:
tuple(range(2,5))

(2, 3, 4)

In [ ]:
job_titles = [
    "Data Scientist", "Data Analyst", "Machine Learning Engineer", "Data Engineer",
    "Business Intelligence Analyst", "Quantitative Analyst", "Data Science Consultant",
    "AI Research Scientist", "Data Architect", "Statistician", "Data Science Manager",
    "Data Mining Engineer", "Big Data Engineer", "ML Scientist", "Data Science Lead",
    "Data Scientist - NLP", "Data Science Researcher", "AI Engineer", "Data Engineer - Cloud",
    "Operations Research Analyst", "Data Visualization Specialist", "Predictive Modeler",
    "Data Strategist", "Data Science Intern", "Machine Learning Architect", "Big Data Analyst",
    "Chief Data Officer", "Deep Learning Engineer", "Data Modeler", "Data Science Director",
    "Data Science Consultant", "Business Intelligence Developer", "Data Science Analyst",
    "Data Science Coordinator", "Machine Learning Specialist", "Research Data Scientist",
    "Data Quality Analyst", "AI Product Manager", "Data Engineer - Big Data", "Database Administrator",
    "Data Mining Analyst", "Data Insights Analyst", "Senior Data Scientist", "Junior Data Scientist",
    "Lead Data Analyst", "Data Science Research Lead", "Data Product Manager", "Data Solutions Architect",
    "Data Science Research Lead", "NLP Scientist", "Machine Learning Researcher", "Business Data Analyst",
    "Quantitative Data Scientist", "Big Data Consultant", "Machine Learning Operations Engineer",
    "Cloud Data Scientist", "Data Analysis Specialist", "Algorithm Engineer", "Computer Vision Engineer",
    "Data Engineer - Machine Learning", "AI Data Scientist", "Cloud Data Engineer", "Data Analyst - Python",
    "Machine Learning Research Engineer", "Data Science Operations Manager", "Business Intelligence Manager",
    "Predictive Analytics Consultant", "Applied Data Scientist", "Data Analyst - SQL", "Data Architect - Cloud",
    "Data Science Programmer", "AI Developer", "Machine Learning Developer", "Data Engineer - Python",
    "Data Science Trainer", "Data Engineer - Hadoop", "Business Intelligence Architect", "Data Engineer - Spark",
    "Data Scientist - Finance", "Data Science Specialist", "Data Science Evangelist", "Machine Learning Consultant",
    "Data Operations Manager", "Data Scientist - Retail", "AI Solutions Architect", "Data Science Administrator",
    "Data Scientist - Marketing", "Machine Learning Engineer - NLP", "Senior Data Analyst", "Data Science Developer",
    "Data Engineering Manager", "Data Analyst - Machine Learning", "Chief Analytics Officer", "AI Solutions Engineer",
    "Data Science Research Analyst", "Senior Data Engineer", "Data Insights Engineer", "Data Engineer - AI",
    "Machine Learning Architect - AI", "Data Research Engineer", "Predictive Data Scientist", "Senior ML Engineer",
    "Data Science Lead Analyst", "Big Data Scientist", "Data Scientist - Health Tech", "Data Analyst - Data Science"
]

In [ ]:
len (job_titles)

106

In [ ]:
namee= input ('whatsyourname?')

whatsyourname?Ewelina

In [ ]:
print ('Hello '+namee)

Hello Ewelina

In [ ]:
1+1

2

In [ ]:
3**2

9

In [ ]:
temp = 5

In [ ]:
if temp >30:
  print ("it's hot day")
  print ("Drink plenty of water")
elif temp <20:
    print ("it'scold")
else:
      print ("it'sok")

it'scold

In [ ]:
b = ['banana','apple','microsoft']

In [ ]:
print (b)

['banana', 'apple', 'microsoft']

In [ ]:
print(b)

['microsoft', 'apple', 'banana']

In [ ]:
b[slice(1,2)]

['apple']

In [ ]:
 c = [1,2,4,5]

In [ ]:
sum (c)

12

In [ ]:
a= list(range(1,100))

In [ ]:
print (a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
range(1,100)

range(1, 100)

In [ ]:
total2 = 0
for e in range(1,100):
  if e % 3 ==0 or e % 5 ==0:
      total2 += e
print (total2)

2318

In [ ]:
givenlist = [5,4,4,3,1,-2,-3,-5,8]
total5=0
i=0
while givenlist[i]>0:
  total5 += givenlist [i]
  i +=1
print(total5)

17

In [ ]:
givenlist = [5,4,4,3,1,-2,-3,-5,8]
total6=0
for e in givenlist:
  if e <=0:
    break
  total6 += e
print(total6)

17

In [ ]:
givenlist = [5,4,4,3,1,-2,-3,-5,8]
total6=0
for e in givenlist:
  if e >=0:
    total6 += e
print(total6)

25

In [ ]:
given2 = [7,5,4,4,3,1,-2,-3,-5,-7]

In [ ]:
#if we have datset sorted desceding and we dont know anything else about it
#and we want to sum negative numbers
#using in loop

total7=0
for e in given2:
  if e<= 0:
    total7 += e
print (total7)

-17

In [ ]:
#if we have datset sorted desceding and we dont know anything else about it
#and we want to sum negative numbers
#using while loop
#from chat GPT

sum_negatives = 0
f = 0
#this part of code skips until negative number is found
while f < len(given2) and given2[f] >= 0:
   f += 1

# Sum only the negative numbers
while f < len(given2) and given2[f] < 0:
    sum_negatives += given2[f]
    f += 1

print(sum_negatives)

-17

In [ ]:
 #if we have datset sorted desceding and we dont know anything else about it
#and we want to sum negative numbers
#using while loop
#from CS dojo

total8=0

#zaczynamy od końca
j = len(given2) -1
while given2[j] <0:
  total8 += given2[j]

#cofa się bo liczy od końca
  j-= 1
print(total8)

-17

In [ ]:
a=list(range(100))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
d = {"ola":24,"Tom":29}

In [ ]:
d["Sam"]=24

In [ ]:
print(d["Sam"])

24

In [ ]:
d["ola"] =19

In [ ]:
print(d["ola"])

19

In [ ]:
# how to itarate over key-value pairs?

for key, value in d.items():
  print("key:")
  print(key)
  print("value:")
  print(value)
  print("")

key:
ola
value:
19

key:
Tom
value:
29

key:
Sam
value:
24

In [ ]:
 class Robot:
  #self need to be added to every function we define in the class
  def __init__(self, name, color, weight):
      self.name= name
      self.color = color
      self.weight = weight

  def introduce_self(self): #self refer to this object
  #we need to add self to every method we want to add to the class
    print("My name is " + self.name)

In [ ]:
#this is how manualy we can create new objects

#r1 = Robot()
#r1.name="Tom"
#r1.color="red"
#r1.weight=30

#r2 = Robot()
#r2.name="Jerry"
#r2.color="blue"
#r2.weight=40


r1 = Robot("Tom", "red", 30)
r2 = Robot("Jerry", "blue", 40)

In [ ]:
r1.introduce_self()

My name is Tom

In [ ]:
r2.introduce_self()

My name is Jerry

In [ ]:
class Person:
  def __init__(self, n, p, i):
    self.name = n
    self.personality = p
    self.is_sitting = i

  def sit_down(self):
    self.is_sitting = True

  def stand_up(self):
    self.is_sitting = False

In [ ]:
p1 = Person("Alice", "aggressive", False)
p2 = Person("Becky", "talkative", True)

In [ ]:
# p1 owns r2
# we can change constructor of robot
#or we can add additional coude
p1.robot_owned = r2
p2.robot_owned = r1

In [ ]:
p1.robot_owned.introduce_self()

My name is Jerry

In [ ]:
def c_greater_than_d_plus_e(c,d,e):
  if c> d+e:
    return True
  else:
    return False

In [ ]:
c_greater_than_d_plus_e(10,9,3)

False

In [ ]:
def c_greater_than_d_plus_e2(c,d,e):
  return c> d+e

In [ ]:
c_greater_than_d_plus_e2( 10,1,2)

True

In [ ]:
a=[1,3,5,7,9,11]

In [ ]:
d=[x*2 for x in a]
print (d)

[2, 6, 10, 14, 18, 22]

In [ ]:
e=[x**2 for x in range(1,7)]
e.sort(reverse=True)
print(e)

[36, 25, 16, 9, 4, 1]

In [ ]:
e1=[x**2 for x in range(6,0,-1)]
print(e1)

[36, 25, 16, 9, 4, 1]

In [ ]:
for x in range(6,0,-1):
    print(x)

6
5
4
3
2
1

In [ ]:
given_list2=[1,3,4,1,3]

In [ ]:
set1 = set(given_list2)

In [ ]:
sum(set1)

8

In [ ]:
"data" in "Data lab"

False

In [ ]:
"data" in "data lab"

True

In [ ]:
a = 5  # 0101
b = 1  # 0011
print(a & b)

1

In [ ]:
~223

-224

In [ ]:
first_last6 = [6, 2, 7]

In [ ]:
if first_last6[-1] == 6 or first_last6[0] == 6:
  print ("True")
else:
  print ("False")

True

In [ ]:
9&1

1

In [ ]:
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]

In [ ]:
my_skills = ['Python', 'SQL', 'Excel']

In [ ]:
qulified_roles = []

for job in job_roles:
  qualified = True
  for skill in my_skills:
    if skill not in job['skills']:
      qualified = False
      break
  if qualified:
   qulified_roles.append(job['role'])
qulified_roles

['Data Analyst', 'Business Intelligence Analyst']

In [ ]:
qulified_roles2 = []

for job in job_roles:
  if all (skill in job['skills'] for skill in my_skills):
    qulified_roles2.append(job['role'])
qulified_roles2

['Data Analyst', 'Business Intelligence Analyst']

In [ ]:
def calculate_salary(base_salary,bonus_rate=0.1):

  total_salary = base_salary * (1+bonus_rate)
  return total_salary

In [ ]:
calculate_salary(200,0.5)

300.0

In [ ]:
import my_module

my_module.skill_list

['Pyhton', 'SQL', 'Excel']

In [ ]:
my_module.skill("Python")

'Python is my favorite skill'

In [ ]:
str = "abcd"

In [ ]:
print (str[0::2])

ac

In [ ]:
print (str[1:-1])

bc

In [ ]:
round (66,-2)

100

In [ ]:
def round_sum(a, b, c):
    a = round(a, -1)
    b = round(b, -1)
    c = round(c, -1)
    return a, b, c  # Return the rounded values as a tuple

def calculate_sum():
    result = sum(round_sum(13, 24, 37))  # sum the rounded values
    return result  # Return the sum

# Call the function and print the result
print(calculate_sum())  # This will print 70

70

In [ ]:
def rotate_left3(nums):
  print (nums [1,2,0])
  return rotate_left3(nums)

In [ ]:
str = "abdc"

In [ ]:
if len(str) <=3:
  print(str*3)
else:
  print (str[0:3]*3)

abdabdabd

In [ ]:
len(str)//2+1

3

In [ ]:
if len(str)%2 == 0:
  print(str[0:(len(str)//2)])

ab

In [ ]:
str[0:(len(str)//2)]

'ab'

In [ ]:
9%5

4

In [ ]:
sum67=[4,3,6,5,8,6]

In [ ]:
sum67.index(6)

2